.header-container{
    background-color: burlywood;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    height: 250px;
    
}

.header-container h1{
    margin-left:15%;
    font-size: 4rem;
}
.header-container p{
    width: 60%;
    margin-left: 2%;
}


.img-container{
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 20rem;
    align-items: center;
}

.img-container p{
    width: 60%;
    margin-left: 3rem;
    padding: 50px;
}



.hola{
    background-color: red;
    color: white;
    width: fit-content;
    margin-left: 50%;
}

.hola:hover{
    transform: scale(2);
    transition: all 1s ease-in;
}
/*esto es un parrafo*/
p{
    background-image: url(./img/suculentas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}